.blank-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Styles for the "grade-title" section */
  .grade-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 2px solid #333; /* Add a bottom border for separation */
  }
  
  /* Styles for the "grade-details" section */
  .grade-details {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
  }
  
  /* Styles for individual questions */
  .question {
    margin-top: 20px;
  }
  
  .question label {
    font-weight: bold;
  }
  
  /* Styles for radio buttons and input fields */
  .question-radioBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .question-radioBox span {
    margin-right: 10px;
  }
  
  .question-radioBox input[type="radio"] {
    margin-right: 5px;
  }
  
  .question-numberinput {
    width: 60px;
  }
  
  /* Styles for the "Commit Change" and "Check" buttons */
  .btn-block {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .question-buttons {
    padding: 10px 20px;
    font-size: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-Iink {
    text-decoration: none;
    color: #fff;
  }
  
  .question-buttons:hover {
    background-color: #0056b3;
  }