.title{
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-style: italic;
    margin:0;
    font-weight: bolder;
}
.title:hover {
    color: #ff0000;
}
.front{
    color: white;
    font-size: 36px;
}
.front1{
    color: white;
    font-size: 16px;
}
body {
    background-image: url("https://w.wallhaven.cc/full/dg/wallhaven-dgxk6o.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial;
}
.rubric-button {
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
    font-style: italic;
}
.upload-button {
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
    border: none;
    text-decoration: none;
    margin: 40px;
}
.home {
    width: 99%;
    display: block;
    margin: auto;
    position: absolute;
}
.div-button-l{
    display: flex;
    float: left;
    width: 33.3333%;
    align-items: center;
    justify-content: center;
}
.div-button-c{
    display: flex;
    float: left;
    width: 33.3333%;
    align-items: center;
    justify-content: center;
}
.div-button-r{
    display: flex;
    float: left;
    width: 33.3333%;
    align-items: center;
    justify-content: center;
}
.move-to-c{
    margin-top: 16%;
}
.button-link-home{
    color: white;
    font-size: 80px;
    text-decoration:none;
    font-weight: bold;
    font-style: italic;
}
.button-link-home:hover{
    color: #ff0000;
}

.button-link{
    color: white;
    font-size: 30px;
    text-decoration:none;
    font-weight: bold;
    font-style: italic;
}
.button-link:hover{
    color: #ff0000;
}

.back{
    font-size: 40px;
    color: white;
    text-decoration:none;
    font-weight: bold;
    font-style: italic;
    float: right;
}
.back:hover{
    color: rgb(255, 0, 0);
}
.blank-container {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.Grade-Now{
    color: white;
    font-size: 40px;
    text-decoration:none;
    font-weight: bold;
    font-style: italic;
}
.Grade-Now:hover{
    color: #ff0000;
}
.move-left{
    float: left;
}
.upload-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

